/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--color-font);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font);
  font-variation-settings: var(--font-weight-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48.6%;
  margin: 0 auto;
}

.header {
  font-family: var(--accent-font), Impact, fantasy;
  margin-block-start: 100px;
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--border);
  text-align: center;
}

.header-link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  display: block;
  padding-block-start: 19.5%;
  line-height: 1;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-start: 20px;
  line-height: 1;
}

.header__theme-menu {
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  gap: 11px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 18px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  padding: 0;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: currentColor;
  left: -20px;
  top: 0;
  animation: content 0.5s infinite alternate ease-in-out;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scale(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.main {
  padding-block-start: 100px;
  padding-block-end: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--border);
  font-size: 18px;
}

.card-subject {
  line-height: 1.2;
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  font-variation-settings: var(--font-weight-title);
}

.card-wrapper {
  position: relative;
  height: 696px;
  border-block-start: 2px solid var(--border);
  border-block-end: 2px solid var(--border);
  max-height: 696px;
}

.card-img {
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.card-wrapper-subject {
  position: absolute;
  z-index: 2;
  font-size: 14px;
  color: var(--color-font);
  font-family: var(--accent-font), Impact, fantasy;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow),
    1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
  right: 13px;
  top: 25px;
  line-height: 1;
  opacity: 0.6;
}

@supports (
  (text-stroke: 1px var(--text-shadow)) or
    (-webkit-text-stroke: 1px var(--text-shadow))
) {
  .card-box {
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
}

.img-happy {
  filter: contrast(120%);
}

.img-doubt {
  filter: sepia(60%);
}

.img-expectation {
  filter: saturate(128%);
}

.img-joy {
  filter: saturate(120%);
}

.img-loneliness {
  filter: opacity(0.8) blur(1.5px);
}

.img-hard {
  filter: grayscale(0.2) opacity(0.9);
}

.img-devastation {
  filter: grayscale(0.6);
}

.img-hesitation {
  filter: saturate(120%);
}

.card-text {
  padding: 27px 25px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  line-height: 1.17;
  letter-spacing: 0.6px;
}


.main-button {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card__icon-button {
  background-color: transparent;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.like-icon {
  width: 41px;
  height: 37px;
  transform-origin: center;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border);
}

.sparks {
  opacity: 0;
}

.main-body {
  transition: fill 0.03s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--contour);
  transition: fill 0.03s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks);
  transition: fill 0.03s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks);
  transition: fill 0.03s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--contour);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button-animation {
  border: 2px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--background-color);
}

.button-animation:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--border);
  outline: none;
}

.button-animation::after {
  content: "";
  background-color: var(--border);
  transform-origin: left;
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button-animation:hover::after {
  transform: scaleX(1);
}

.footer {
  display: flex;
  justify-content: center;
  padding-block-end: 105px;
}

.footer-button {
  flex-direction: row;
  min-width: 335px;
  min-height: 55px;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.button__text {
  font-family: var(--accent-font), Impact, fantasy;
  font-size: 14px;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--button-text);
  line-height: 0.9;
}

.floppy {
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  width: 27px;
  height: 24px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  position: fixed;
  border: 2px solid var(--border);
  max-inline-size: 357px;
  background-color: var(--background-color);
  padding: 0;
}

.dialog-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 30px 0 30px;
}

.dialog-subject {
  max-width: 234px;
  line-height: 1.5;
  color: var(--color-font);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
}

form {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.dialog-floppy {
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.close-button {
  width: 293px;
  height: 38px;
  text-transform: uppercase;
}

@media (width <=376px) {
  .page {
    width: 100%;
  }

  .header-link {
    padding-block-start: 32.5%;
  }

  .header__theme-menu {
    margin: 22px 40%;
  }

  .theme-menu__list {
    gap: 13px;
  }

  .card-wrapper {
    max-height: 371px;
  }

  .card-text {
      padding: 27px 27px;
  }

  .dialog {
    max-inline-size: 341px;
  }

  .dialog-wrapper {
    padding: 30px 42px;
    gap: 17px;
  }

  .dialog-subject {
    max-width: 196px;
  }

  form {
    padding: 0 42px 27px;
  }

  .close-button {
    width: 257px;
  }

  .footer-button {
    flex-direction: column;
    min-height: 84px;
    min-width: 306px;
  }

  .floppy {
    width: 32px;
    height: 32px;
  }
}
